<?xml version="1.0"?>
<configuration>
  <location path="windows_authentication.aspx">
    <system.webServer>
      <security>
        <authentication>
          <!--  <anonymousAuthentication enabled="false" /> -->
        </authentication>
        <authorization>
          <remove users="*" roles="" verbs="" />
          <add accessType="Deny" users="?" />
          <add accessType="Allow" users="*" />
        </authorization>
      </security>
    </system.webServer>
  </location>
</configuration>
