<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <!-- Truning Off custom errors for debugging -->
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <connectionStrings>
    <add name="tulip" providerName="System.Data.SQLClient" connectionString="server=database_server\database_server_instance;database=database_name;uid=database_user_name;password=database_user_password;"/>
  </connectionStrings>
  <system.webServer>
    <rewrite>
      <rules>
        <clear/>
        <rule name="CanonicalHostNameRule1" stopProcessing="true">
          <match url="(.*)"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^subdomain\.domain\.topleveldomain$" negate="true"/>
          </conditions>
          <action type="Redirect" url="https://subdomain.domain.topleveldomain/{R:1}"/>
        </rule>
        <rule name="LowerCaseRule1" stopProcessing="true">
          <match url="[A-Z]" ignoreCase="false"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
          <action type="Redirect" url="{ToLower:{URL}}"/>
        </rule>
        <rule name="Force HTTPS" enabled="true" stopProcessing="true">
          <match url="(.*)" ignoreCase="false"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTPS}" pattern="off"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="true" redirectType="Permanent"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <location path="windows_authentication.aspx" allowOverride="true">
    <system.webServer>
      <security>
        <authentication>
          <!--<anonymousAuthentication enabled="false" />-->
        </authentication>
        <authorization>
          <remove users="*" roles="" verbs=""/>
          <add accessType="Deny" users="?"/>
          <add accessType="Allow" users="*"/>
        </authorization>
      </security>
    </system.webServer>
  </location>
  <location path="default.aspx" allowOverride="true">
    <system.webServer>
      <security>
        <authentication>
          <!--<anonymousAuthentication enabled="true"/>-->
        </authentication>
        <authorization>
          <remove users="*" roles="" verbs=""/>
          <add accessType="Allow" users="*"/>
        </authorization>
      </security>
    </system.webServer>
  </location>
</configuration>